// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-list{
	display: flex;
    flex-direction: row;
}

.name{
	font-size:25px;
}

.description{
	font-size:15px;
}

.yen{
	margin-left:0px;
}

.item_price{
	margin-bottom:20px;
}

.cart_items_form{
	display:flex;
	flex-direction: row;
}

.cart-button{
	margin-left:20px;
}

.amount-select{
	margin-left:40px;
}